<settings>

    <setting propertyKey="@Properties.LightThemeActive" title="@Strings.LightThemeActive">
        <settingConfig type="boolean" readonly="false" />
    </setting>

    <setting propertyKey="@Properties.NotifyOnBeerEarned" title="@Strings.NotifyOnBeerEarned">
        <settingConfig type="boolean" readonly="false" />
    </setting>

</settings>